# Google Gemini API Key
GOOGLE_API_KEY=AIzaSyCFxI1gua8cjeM70Xo--MMX0R-evgvL22c

# Database Configuration
DATABASE_URL=postgresql://argoserver:Prithvixchiky@24@localhost:5432/floatchat
CHROMA_PERSIST_DIRECTORY=./data/chroma_db

# ARGO Data Configuration
ARGO_FTP_URL=ftp://ftp.ifremer.fr/ifremer/argo
INDIAN_ARGO_URL=https://incois.gov.in/OON/index.jsp

# Application Settings
DEBUG=True
LOG_LEVEL=INFO

